.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -3000px, 0) rotateX(180deg) rotateY(180deg);
    transform: translate3d(-50%, -3000px, 0) rotateX(180deg) rotateY(180deg);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 25px, 0) rotateX(180deg) rotateY(180deg);
    transform: translate3d(-50%, 25px, 0) rotateX(180deg) rotateY(180deg);
  }

  75% {
    -webkit-transform: translate3d(-50%, -10px, 0) rotateX(180deg) rotateY(180deg);
    transform: translate3d(-50%, -10px, 0) rotateX(180deg) rotateY(180deg);
  }

  90% {
    -webkit-transform: translate3d(-50%, 5px, 0) rotateX(180deg) rotateY(180deg);
    transform: translate3d(-50%, 5px, 0) rotateX(180deg) rotateY(180deg);
  }

  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotateX(180deg) rotateY(180deg);
    transform: translate3d(-50%, -50%, 0) rotateX(180deg) rotateY(180deg);
  }
}


@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -3000px, 0) rotateX(180deg) rotateY(180deg);
    -ms-transform: translate3d(-50%, -3000px, 0) rotateX(180deg) rotateY(180deg);
    transform: translate3d(-50%, -3000px, 0) rotateX(180deg) rotateY(180deg);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 25px, 0) rotateX(180deg) rotateY(180deg);
    -ms-transform: translate3d(-50%, 25px, 0) rotateX(180deg) rotateY(180deg);
    transform: translate3d(-50%, 25px, 0) rotateX(180deg) rotateY(180deg);
  }

  75% {
    -webkit-transform: translate3d(-50%, -10px, 0) rotateX(180deg) rotateY(180deg);
    -ms-transform: translate3d(-50%, -10px, 0) rotateX(180deg) rotateY(180deg);
    transform: translate3d(-50%, -10px, 0) rotateX(180deg) rotateY(180deg);
  }

  90% {
    -webkit-transform: translate3d(-50%, 5px, 0) rotateX(180deg) rotateY(180deg);
    -ms-transform: translate3d(-50%, 5px, 0) rotateX(180deg) rotateY(180deg);
    transform: translate3d(-50%, 5px, 0) rotateX(180deg) rotateY(180deg);
  }

  100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotateX(180deg) rotateY(180deg);
    -ms-transform: translate3d(-50%, -50%, 0) rotateX(180deg) rotateY(180deg);
    transform: translate3d(-50%, -50%, 0) rotateX(180deg) rotateY(180deg);
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}
